<section class="todoapp">
      <header class="header">
        <h1><%= @list.name %> </h1>
        <input class="new-todo" placeholder="Add item..." autofocus="">
      </header>

      <section class="main">
        <ul class="todo-list">
          <li>
            <div class="view">
            <label>The Godfather</label>
          </div>
        </li>

        <li>
          <div class="view">
          <label>Boondock Saints</label>
        </div>
      </li>
        </ul>
      </section>

      <footer class="footer" style="display: none;">
        <button class="clear-completed"></button>
      </footer>

    </section>
